.page
{
width:1500px;
height:auto;
border-style:groove;
}
.headerpart
{
width:1500;
height:300;
border-style:groove;
background-color:white;
background-image:url("images/im.jpg");
background-repeat:no-repeat;
text-align:left;
text-decoration:none;
color:white;
}

.linkspart
{
width:1500px;
height:25px;
background-color:skyblue;
margin-top:5px;
border-style:groove;
}

.linkspart a
{
color:black;
text-decoration:none;
}


.linkspart a:hover
{
background-color:black;
color:skyblue;
}
.bodypart
{
width:1500px;
height:1175px;
border-style:groove;
margin-top:5px;
}
.bodypart .imagepart
{
width:1500px;
height:400px;
border-style:groove;
background-image:url("images/download.jpg");
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
}
.middlepart .events
{
width:300px;
height:700px;
border-style:groove;
margin-top:70px;
margin-right:140px;
float:right;
text-decoration:underline;
}




.centerpart .captions
{
width:300px;
height:700px;
border-style:groove;
margin-top:70px;
margin-left:140px;
float:left;
text-decoration:underline;
}

.lastpart
{
width:300px;
border:5px;
padding:200px;
margin:250px;
height:180px;
background-color:lightgreen;
border-style:groove;
color:black;
}

.lastpart .d
{
color:black;
text-decortaion:none;

}

.lastpart .e
{
color:black;
text-decortaion:none;
}

.footerpart 
{
width:1500px;
height:90px;
background-color:skyblue;
margin-top:5px;
border-style:groove;
}




















